In [53]:
import pandas as pd

from utils import tag_mail

df = pd.read_json(r'data/gmail_boetto_basic.txt', encoding = 'utf-8')

df['cat'] = df.headers.apply(tag_mail)

df.loc[df.cat=='uber']

,snippet,date,headers,body,cat
2093,,2015-03-24 13:36:05,"[{'name': 'Subject', 'value': ''}, {'name': 'F...",,uber

,snippet,date,headers,body,cat
0,"Total: 72,30 € jeu., nov. 28, 2019 Merci d&#39...",2020-03-11 13:20:14,"[{'name': 'From', 'value': 'Christophe Boetto-...","\n \n \n[ \nTotal: 72,30 € \njeu., nov. 28, ...",None
1,"Total: 9,50 € mar., janv. 14, 2020 Merci d&#39...",2020-03-11 13:19:28,"[{'name': 'From', 'value': 'Christophe Boetto-...","\n \n \n[ \nTotal: 9,50 € \nmar., janv. 14, ...",None
2,boffardalexandre@gmail.com has invited you to ...,2020-03-11 11:01:01,"[{'name': 'Subject', 'value': 'Pitch – WAI – 3...",I've shared an item with you: \n \nPitch – WA...,None
3,"✔ Aujourd&#39;hui : nouvelles ventes, nouvelle...",2020-03-11 04:05:37,"[{'name': 'From', 'value': '""Zalando Privé"" <b...","✔ Aujourd'hui : nouvelles ventes, nouvelles m...",None
4,Pour visualiser correctement cette lettre d&#3...,2020-03-10 15:07:44,"[{'name': 'From', 'value': '""OUI.sncf"" <bonspl...",\n \n \nIL NE VOUS RESTE PLUS QUE 48H POUR C...,sncf
...,...,...,...,...,...
3562,"Salut,je peux bosser sur le ppt 4h30. Je suis ...",2010-11-03 09:22:29,"[{'name': 'Subject', 'value': 'ppt'}, {'name':...","Salut,je peux bosser sur le ppt 4h30. \nJe su...",None
3563,---------- Forwarded message ---------- From: ...,2010-10-05 18:37:29,"[{'name': 'Subject', 'value': 'Fwd: Delivery S...",---------- Forwarded message ---------- \nFro...,None
3564,nbvgkugukwsbvukrsbvksw,2010-10-05 18:32:40,"[{'name': 'Subject', 'value': 'cdsuqhfqeisubrv...",nbvgkugukwsbvukrsbvksw \n nbvgkugukwsbvukrsbvksw,None
3565,---------- Forwarded message ---------- From: ...,2010-10-05 18:32:18,"[{'name': 'Subject', 'value': 'Fwd: WWI Origin...",,None
3566,---------- Message transféré ---------- De : V...,2010-10-05 18:29:10,"[{'name': 'Subject', 'value': 'Fwd: Devoir de ...",,None

In [50]:
import re
from datetime import datetime

df_uber = df.loc[df.cat=='uber']

# df_uber = df_uber.loc[df_uber.body.str.contains("vélos électriques")]

res = []

for date, el in df_uber.loc[:,['date', 'body']].itertuples(index=False):
    tmp = {}
    # place
    try:
        departure, destination = re.findall(r'\d\d:\d\d (.*?) \d\d:\d\d (.*?) Invitez', el)[0]
        tmp['departure'] = departure
        tmp['destination'] = destination
    except:
        continue
    
    # price    
    try:
        price = re.findall(r' Total: \d{1,1000},\d{2,1000} € ',el )[0]
        price = re.findall(r'\d{1,1000},\d{2,1000}', price)[0]
        tmp['price'] = price
    except:
        price = None
        tmp['price'] = price
        pass
    
    # distance
    try:
        distance = re.findall(r'\d{1,1000}.{0,1}\d{0,1000} km', el)[0]
        tmp['distance'] = distance
    except:
        distance = None
        tmp['distance'] = distance
        pass
    
    # date
    try:
 
    except:
        start = None
        end = None
        tmp['start'] = start
        tmp['end'] = end
        pass
    
    res += [tmp]
    print(el)
    print('\n\n')
    print('#######################################################')
    print('\n\n')
    
res

 Total: 5,23 € jeu., avr. 18, 2019 Paul, merci d'avoir utilisé Uber Nous espérons que vous avez apprécié votre course cet après-midi. Total 5,23 € 50% off your ride Prix du trajet 9,14 € Sous-total 9,14 € Réductions -4,57 € Temps d'attente 0,66 € Montant facturé •••• 4130 |Changer 5,23 € Pour consulter vos reçus (et vos factures le cas échéant), ou pour obtenir plus d'informations, rendez-vous sur votre espace personnel. xid8811ac7e-9671-41c9-9e08-e324fbccb386 pGvlI2ANUbXFfyEOgxta1RMV082993 Vous avez été pris en charge par Aysar Mahmoud 4.83 Note Aysar est apprécié pour :
Excellent Service Comment s'est passée votre course ? Note ou pourboire Note ou pourboire Émise au nom de la société de transport ROCVIN Dienste GmbH UberX 2.96 km | 8 min 13:37 Weserstraße 163, 12045 Berlin, Germany 13:45 Pfuelstraße 1, 10997 Berlin, Germany Invitez vos amis et votre famille. Bénéficiez d’une réduction de 5 € sur votre prochaine course en invitant un ami à découvrir Uber.Code de parrainage : 7hqkrg4cueSignaler la perte d'un objet ❯contacter l'assistance ❯contacter l'assistance ❯Mes courses ❯FAQMot de passe oublié Uber B.V.
Mr. Treublaan 7
1097 DP Amsterdam
Confidentialité
Conditions générales Le prix n'inclut pas d'éventuels frais bancaires. Contactez votre banque pour en savoir plus sur les frais applicables.



#######################################################



 Total: 4,20 € mar., avr. 16, 2019 Paul, merci d'avoir utilisé Uber Nous espérons que vous avez apprécié votre course ce soir. Total 4,20 € 50% off your ride Prix du trajet 8,39 € Sous-total 8,39 € Réductions -4,19 € Montant facturé •••• 4130 |Changer 4,20 € Pour consulter vos reçus (et vos factures le cas échéant), ou pour obtenir plus d'informations, rendez-vous sur votre espace personnel. xid26c944bb-07a4-424b-887c-2059b4d79b44 pGvlI2ANUbXFfyEOgxta1RMV082993 Vous avez été pris en charge par Radwan Daoud El-Ahmad 4.89 Note Radwan Daoud est apprécié pour :
Excellent Service Comment s'est passée votre course ? Note ou pourboire Note ou pourboire Émise au nom de la société de transport ROCVIN Dienste GmbH UberX 3.02 km | 7 min 21:32 Wildenbruchstraße 5, 12045 Berlin, Germany 21:39 Köpenicker Str. 190, 10997 Berlin, Germany Invitez vos amis et votre famille. Bénéficiez d’une réduction de 5 € sur votre prochaine course en invitant un ami à découvrir Uber.Code de parrainage : 7hqkrg4cueSignaler la perte d'un objet ❯contacter l'assistance ❯contacter l'assistance ❯Mes courses ❯FAQMot de passe oublié Uber B.V.
Mr. Treublaan 7
1097 DP Amsterdam
Confidentialité
Conditions générales Le prix n'inclut pas d'éventuels frais bancaires. Contactez votre banque pour en savoir plus sur les frais applicables.



#######################################################

[{'departure': 'Weserstraße 163, 12045 Berlin, Germany',
  'destination': 'Pfuelstraße 1, 10997 Berlin, Germany',
  'price': '5,23',
  'distance': '2.96 km',
  'start': datetime.datetime(2019, 4, 18, 13, 37),
  'end': datetime.datetime(2019, 4, 18, 13, 45)},
 {'departure': 'Wildenbruchstraße 5, 12045 Berlin, Germany',
  'destination': 'Köpenicker Str. 190, 10997 Berlin, Germany',
  'price': '4,20',
  'distance': '3.02 km',
  'start': datetime.datetime(2019, 4, 16, 21, 32),
  'end': datetime.datetime(2019, 4, 16, 21, 39)}]

In [51]:
import re
from datetime import datetime

df_uber = df.loc[df.cat=='uber']

# df_uber = df_uber.loc[df_uber.body.str.contains("vélos électriques")]

res = []

for date, el in df_uber.loc[:,['date', 'body']].itertuples(index=False):
    tmp = {}
    # place
    try:
        departure, destination = re.findall(r'\d\d:\d\d (.*?) \d\d:\d\d (.*?) contacter', el)[0]
        tmp['departure'] = departure
        tmp['destination'] = destination
    except:
        continue
    
    # price    
    try:
        price = re.findall(r' Total: \d{1,1000},\d{2,1000} € ',el )[0]
        price = re.findall(r'\d{1,1000},\d{2,1000}', price)[0]
        tmp['price'] = price
    except:
        price = None
        tmp['price'] = price
        pass
    
    # distance
    try:
        distance = re.findall(r'\d{1,1000}.{0,1}\d{0,1000} kilomètres', el)[0]
        tmp['distance'] = distance
    except:
        distance = None
        tmp['distance'] = distance
        pass
    
    # date
    try:
        horaire = re.findall(r'\d\d:\d\d', el)
        start = datetime.strptime(horaire[0], '%H:%M')
        end = datetime.strptime(horaire[1], '%H:%M')
        start = start.replace(year = date.year, month = date.month, day = date.day)
        end = end.replace(year = date.year, month = date.month, day = date.day)
        tmp['start'] = start
        tmp['end'] = end
    except:
        start = None
        end = None
        tmp['start'] = start
        tmp['end'] = end
        pass
    
    res += [tmp]
    print(el)
    print('\n\n')
    print('#######################################################')
    print('\n\n')
    
res

 Total: 2,65 € 1 février 2020 Merci d'avoir choisi les vélos électriques JUMP, Paul Nous espérons que vous avez apprécié votre course ce soir. Total 2,65 € Prix de base 1,00 € Prix pour la durée de la course 1,65 € Sous-total 2,65 € Montant facturé •••• 4130 2,65 € Pour consulter vos reçus (et vos factures le cas échéant), ou pour obtenir plus d'informations, rendez-vous sur votre espace personnel. Vous avez utilisé le vélo électrique JUMP numéro WMM513. 1.61 kilomètres | 11 min 21:45 2 Impasse du Dr Jacques Bertillon, 75008 Paris, France 21:56 20 Avenue des Ternes, 75017 Paris, France contacter l'assistance ❯ contacter l'assistance ❯ Mot de passe oublié Uber B.V.
Mr. Treublaan 7
1097 DP Amsterdam Confidentialité
Conditions générales Le prix n'inclut pas d'éventuels frais bancaires. Contactez votre banque pour en savoir plus sur les frais applicables.



#######################################################



 Total: 2,20 € 4 janvier 2020 Merci d'avoir choisi les vélos électriques JUMP, Paul Nous espérons que vous avez apprécié votre course ce soir. Total 2,20 € Prix de base 1,00 € Prix pour la durée de la course 1,20 € Sous-total 2,20 € Montant facturé •••• 4130 2,20 € Pour consulter vos reçus (et vos factures le cas échéant), ou pour obtenir plus d'informations, rendez-vous sur votre espace personnel. Vous avez utilisé le vélo électrique JUMP numéro IMM972. 1.66 kilomètres | 8 min 19:56 43 Rue François Gérard, 75016 Paris, France 20:04 marché de Passy coté 17 Rue Duban, 75016 Paris, France contacter l'assistance ❯ contacter l'assistance ❯ Mot de passe oublié Uber B.V.
Mr. Treublaan 7
1097 DP Amsterdam Confidentialité
Conditions générales Le prix n'inclut pas d'éventuels frais bancaires. Contactez votre banque pour en savoir plus sur les frais applicables.



#######################################################

[{'departure': '2 Impasse du Dr Jacques Bertillon, 75008 Paris, France',
  'destination': '20 Avenue des Ternes, 75017 Paris, France',
  'price': '2,65',
  'distance': '1.61 kilomètres',
  'start': datetime.datetime(2020, 2, 1, 21, 45),
  'end': datetime.datetime(2020, 2, 1, 21, 56)},
 {'departure': '43 Rue François Gérard, 75016 Paris, France',
  'destination': 'marché de Passy coté 17 Rue Duban, 75016 Paris, France',
  'price': '2,20',
  'distance': '1.66 kilomètres',
  'start': datetime.datetime(2020, 1, 4, 19, 56),
  'end': datetime.datetime(2020, 1, 4, 20, 4)}]

In [153]:
import re
from datetime import datetime

import locale
locale.setlocale(locale.LC_TIME, "fr_FR")

df_uber = df.loc[:1,:]

# df_uber = df_uber.loc[df_uber.body.str.contains("eats")]

# print(df_uber)

res = []
for date, el in df_uber.loc[:,['date', 'body']].itertuples(index=False):
    # price    
    tmp = {}
    try:
        price = re.findall(r'Total: \d{1,1000},\d{2,1000} € ',el )[0]
        price = re.findall(r'\d{1,1000},\d{2,1000}', price)[0]
        tmp['price'] = price
    except:
        price = None
        tmp['price'] = price
        pass
    
    try:
        restaurant = re.findall(r'commandé chez (.*?)\.',el )[0]
        tmp['restaurant'] = restaurant
    except:
        tmp['restaurant'] = None
        pass
    
    try:
        cmd = re.findall(r'Total (.*?) Montant facturé ', el, re.DOTALL)[0]
        articles = re.findall(r'\d{1,3} \n(.*?) \n\d{1,1000},\d\d €',cmd, re.DOTALL)[:-1]
        tmp['articles'] = articles
    except:
        tmp['articles'] = None
        pass
    try:
        date = re.findall(r'Total: \d{1,1000},\d{2,1000} € \n(.*?) \n', el)[0]
        date = datetime.strptime(date, '%a, %b %d, %Y')
        date = str(date.timestamp()*1000)
        tmp['date'] = date
    except:
        tmp['date'] = None
        pass
    
    res += [tmp]
#     print(el)
    print('\n\n')
    print('#######################################################')
    print('\n\n')
return res

#######################################################






#######################################################

[{'price': '72,30',
  'restaurant': "O'Tacos - Massy",
  'articles': ["O'tacos M",
   "O'tacos M",
   "O'tacos M",
   "O'tacos M",
   "O'tacos M",
   "O'tacos L",
   "O'tacos M",
   "O'tacos M",
   "O'tacos M",
   "O'tacos M"],
  'date': '1574895600000.0'},
 {'price': '9,50',
  'restaurant': "Delices d'Anatolie",
  'articles': ['Sandwich döner'],
  'date': '1578956400000.0'}]

In [79]:
s = """
1 
Sandwich döner 
6,00 € 
 
Sous-total 6,00 € 
Frais de livraison 3,50 € 
"""

In [88]:
re.findall(r'\d{1,3}[ ]{0,10}\n (.*?)\d{1,1000},\d\d €',s, re.DOTALL)

[]

In [98]:
re.findall(r'\d{1,3} \n(.*?)\d{1,1000},\d\d €',s, re.DOTALL)

['Sandwich döner \n']